.chanList {
    height: 400px;
    overflow-y: scroll;
    border: 1px solid black;
    list-style-type: none;
}

.chanList li{
    display: flex;
    width : fit-content;
    padding: 3px;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 10px;
    background-color: rgba(65, 14, 124, 0.39);
    color: white;
    font-weight: 800;
    cursor: pointer;
}