.banniere {
    margin: 0;
    background: linear-gradient(90deg, rgb(233, 24, 24), rgb(48, 33, 184));
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 25px;
    padding: 20px;
    text-shadow: 5px 8px #0000006b
}