h1 {
    color:rgb(231, 106, 34);
    text-shadow: 6px 6px 0px rgba(0, 0, 0,0.5);
    font-size: 4em;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: oblique;
    font-weight: 500;
    text-align: center;
    /* text-decoration: underline; */
}

h2, h3 {
    color: rgb(243, 174, 24);
}

h2{
    text-align: center;
}
h3 {
    text-decoration: underline;
}
p {
    color: darkorange;
    text-align: center;
    border-top: 2px dotted orange;
    border-bottom: 2px dotted orange;
}
.red {
    color: rgba(224, 24, 24, 0.548);
}
.important {
    color: rgba(209, 142, 18, 0.938);
    text-decoration: underline;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
.lien {
    color: rgba(7, 151, 235, 0.562);
    font-size: x-small;
    text-decoration: underline;
}
.list {
    color: darkorange;
}
.banniere {
    margin: 0;
    background: linear-gradient(90deg, rgb(121, 6, 86), rgb(33, 33, 184));
    background-size: cover;
    padding: 50px;
}
#imgfouini{
    display: block; /* Assurez-vous que l'image est affichée comme un élément de bloc */
    margin: 0 auto;
}
.bouton_lien  {
    background-color: orangered;
    padding: 10px;
    box-shadow: 6px 6px 0px rgba(0, 0, 0,0.5);
    border-radius: 100%;
}
.bouton_lien:hover {
    background-color: black;
    color: white;
}
.bouton_lien:active {
    background-color: white;
    color: black;
}
.insta_link {
    display: inline-block; /* Pour que le lien occupe seulement l'espace dont il a besoin */
    width : 30px;
    height : 30px;
    background-image: url("instagram-png-instagram-png-logo-1455-12.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; /* Centrez l'image de fond horizontalement et verticalement */
    /* text-indent: -9999px; Cachez le texte "insta" en le déplaçant hors de l'écran */
    color : transparent;
    transform : translateX(10px) translateY(-4px);
    transition: transform 0.3s ease;
}

.insta_link:hover{
    transform: scale(1.5) translateX(10px) translateY(-4px);
    /* transform : translateX(10px) translateY(-4px); */
}
body {
    /* background-color: rgb(7, 7, 59); */
    /* background-image: url("ciel-etoile_1048-11828.avif"); */
    /* background-image: url("galaxies-fond-espace-galaxie-voie-lactee-beau-cosmos_370567-1447.avif");
    background-size: cover;
    background-attachment: fixed; */
    background: url("galaxies-fond-espace-galaxie-voie-lactee-beau-cosmos_370567-1447.avif") fixed;
    background-size: cover;
}
body:active {
    background-color: black;
    color: transparent;
}